.sosmed-container {
  max-width: 100vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview-feature {
  margin-top: 2em;
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
}

.overview-items {
  display: flex;
  width: 15em;
  flex-direction: column;
  align-items: center;
  border-color: aliceblue;
  border-width: 2px;
  padding: 2em;
  border-radius: 1em;
  border-style: solid;
}
